html, body, ul, div, img, h1, a, li {
	padding:0;
	margin:0;
}
* {
	transition: all 0.3s;
}

body {
    font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 55px;
  font-weight: 300;
  color: #49CDFF;
}
a {
  text-decoration: none;
  color: #3500FF;
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
}
form {
  display: flex;
	flex-wrap: wrap;
  background-color: white;
  border: solid 1px #dcdcdc;
  border-radius: 5px;
}
input {
	flex: 1 1 152px;
  border: none;
  margin: 0 -1px -1px 0;
  height: 41px;
  padding: 5px 20px;
  border-right: solid 1px #dcdcdc;
	border-bottom: solid 1px #dcdcdc;
  background-color: rgba(0,0,0,0);
  font-size: 16px;
	line-height: 16px;
	box-sizing: content-box;
}
input[type="number"] {
	flex: 0 1 auto;
	width: 97px;
}
input[type="date"] {
	flex: 0 1 auto;
	width: 153px;
	border-right: none;
}

input[type="submit"] {
	flex: 0 1 97px;
	height: 28px;
	border-right: none;
  border-radius: 5px;
  background-color: #49CDFF;
  color: white;
  float: right;
  margin: 6px 7px;
  text-align: center;
	font-size: 14px;
}

input[type="submit"]:hover {
  background-color: #2bb3e7;
}

input:focus {
  outline-width: 0;
}

#body {
  margin-top: 132px;
  width: calc(90% - 80px);
  max-width: 1200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#header {
  display: block;
  padding: 25px 35px;
}

#logowrapper {
  display: inline-block;
}

#logout {
  display: inline-block;
  float: right;
}

@media screen and (max-width: 1088px) {
	input[type="date"] {
		border-right: solid 1px #dcdcdc;
		flex: 1 1 auto;
		width: 153px;
	}
	input[type="submit"] {
		flex: 1 1 97px;
	}
}
